@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

body {
    background-color: #dbeff2;
}

header {
    background-color: aqua;
}

.headpic {
    width: 100%;
}

.logo img {
    width: 100%;
}

article {
    background-color: bisque;
}

aside {
    background-color: burlywood;
}